@model WMS.Ui.Models.Journal.BatchListItemViewModel
<div class="card">
   <div class="card-header bg-dark text-light h3">
      <div>@Model.Title</div>
      <div>@Model.Vintage - @Model.Variety</div>
   </div>
   <div class="card-body">

      <p class="card-text">@Model.Description</p>
      <p class="card-text"><strong>Current Stage:</strong> @Model.CurrentStage</p>
      <p class="card-text">@Model.LastStatus</p>

      @if (!Model.BatchComplete)
      {
         <button name="scoreBatchButton" class="btn btn-primary" data-id="@Model.Id">Score Batch</button>
      }
      else
      {
         <btn class="btn btn-primary">Quick Entry</btn> <btn class="btn btn-primary">Full Details</btn>
      }

   </div>

</div>
