@model WMS.Ui.Models.Journal.BatchListItemViewModel
<div class="card">
   <div class="card-header bg-dark text-light h3">
      <div>@Model.Title</div>
      <div>@Model.Vintage - @Model.Variety</div>
   </div>
   <div class="card-body">

      <p class="card-text">@Model.Description</p>
      <p class="card-text"><strong>Current Stage:</strong> @Model.CurrentStage</p>
      <p class="card-text">@Model.LastStatus</p>

      @if (!Model.BatchComplete)
      {
         <button class="btn btn-primary" name="showBatchEntryQuickButton" data-id="@Model.Id">Quick Entry  @Model.Id</button>
      }

      <button class="btn btn-primary" name="editBatchDetailsButton" data-id="@Model.Id">Full Details @Model.Id</button>

   </div>

</div>
