
@model WMS.Ui.Mvc6.Models.Admin.UserViewModel;

<div class="row">
    <div class="col-sm-3">@Model.UserName</div>
    <div class="col-sm-3">@Model.Email @if(!Model.EmailConfirmed){<span class="badge badge-warning">Not Yet Confirmed</span>}</div>
    <div class="col-sm-3">
        @if (Model.IsLockedOut)
        {
            <button class="btn btn-outline-danger" name="unlockUserButton" data-name="@Model.UserName">Unlock</button>
        }
        else
        {
            <button class="btn btn-outline-success" name="lockUserButton" data-name="@Model.UserName">Lock</button>
        }
    </div>
    <div class="col-sm-3 text-right">
        <button class="btn btn-primary" name="editUserButton" data-name="@Model.UserName">Edit</button>
        @if (!Model.IsAdmin)
        {
            <button class="btn btn-primary" name="deleteUserButton" data-name="@Model.UserName">Delete</button>
        }
    </div>

</div>
