@model WMS.Ui.Models.Admin.RecipeViewModel

<div class="card">
   <div class="card-header bg-secondary text-light">
      <h1>@ViewData["Title"]</h1>
   </div>
   <div class="card-body">
      <form asp-controller="Admin" asp-action="UpdateRecipe" method="POST" enctype="multipart/form-data">
         <div asp-validation-summary="ModelOnly"></div>
         <div class="row">
            <div class="col-sm-11"></div>
            <div class="col-sm-1">
               <a asp-area="" asp-controller="Admin" asp-route-id="recipes" asp-action="Index">Back</a>
            </div>
         </div>
         <label class="d-none"><input hidden asp-for="Id" />Hidden Label</label>


         <div class="row">
            <div class="col-sm-6">
               <span class="col-form-label"><strong>Rating: </strong>@Model.Rating</span><br />
               <input class="btn btn-primary btn-sm" type="button" value="Reset Rating" />
            </div>
            <div class="col-sm-6">
               <input type="checkbox" asp-for="Enabled" aria-label="Enabled"> Enabled
               <input name="Enabled" type="hidden" value="false" />
               <br />
               <input type="checkbox" asp-for="NeedsApproved" aria-label="Needs Approved"> Needs Approved
               <input name="NeedsApproved" type="hidden" value="false" />
            </div>
         </div>

         <div class="row">
            <div class="col-sm-6">
               <label class="col-form-label" asp-for="Hits"><strong>Hits:</strong></label>
               <input class="form-control" type="number" placeholder="Hits" required asp-for="Hits" maxlength="10">
               <span asp-validation-for="Hits" class="text-danger"></span>
            </div>
            <div class="col-sm-6">
               <label class="col-form-label" asp-for="SubmittedBy"><strong>Submitted By:</strong></label>
               <input class="form-control" type="text" readonly asp-for="SubmittedBy">
               <span asp-validation-for="SubmittedBy" class="text-danger"></span>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-6">
               <label class="col-form-label" asp-for="Title"><strong>Title:</strong></label>
               <input class="form-control" type="text" placeholder="Recipe Title" required asp-for="Title" maxlength="100">
               <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <!-- category/variety selector -->
            <div class="col-sm-6">
               <label class="col-form-label" asp-for="Variety.Id"><strong>Variety:</strong></label>
               <select class="custom-select" asp-for="Variety.Id" asp-items="Model.Varieties"></select>
               <span asp-validation-for="Variety.Id" class="text-danger"></span>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <label class="col-form-label" asp-for="Description"><strong>Description:</strong></label>
               <input class="form-control" type="text" placeholder="Short Description" required asp-for="Description" maxlength="100">
               <span asp-validation-for="Description" class="text-danger"></span>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-12">
               <label class="col-form-label" asp-for="Yeast.Id"><strong>Yeast:</strong></label>
               <select class="custom-select" asp-for="Yeast.Id" asp-items="Model.Yeasts"></select>
               <span asp-validation-for="Yeast.Id" class="text-danger"></span>
            </div>
         </div>

         <label class="d-none"><input hidden asp-for="Target.Id" />Hidden Label</label>
         <div class="row">
            <div class="col-sm-3 pr-0">
               <input class="form-control" inputmode="decimal" pattern="[0-9]*" type="text" aria-label="Starting Sugar Level" placeholder="Start Sugar" asp-for="Target.StartingSugar" maxlength="5">
               <span asp-validation-for="Target.StartingSugar" class="text-danger"></span>
            </div>
            <div class="col-sm-3 pl-0">
               <select class="custom-select" aria-label="Unit of Measure for Batch" asp-for="Target.StartSugarUOM" asp-items="Model.Target.SugarUOMs"></select>
               <span asp-validation-for="Target.StartSugarUOM" class="text-danger"></span>
            </div>
            <div class="col-sm-3 pr-0">
               <input class="form-control" inputmode="decimal" pattern="[0-9]*" type="text" aria-label="Fermentation Temp" placeholder="Temperature" asp-for="Target.FermentationTemp" maxlength="4">
               <span asp-validation-for="Target.FermentationTemp" class="text-danger"></span>
            </div>
            <div class="col-sm-3 pl-0">
               <select class="custom-select" aria-label="Unit of Measure for Batch" asp-for="Target.TempUOM" asp-items="Model.Target.TempUOMs"></select>
               <span asp-validation-for="Target.TempUOM" class="text-danger"></span>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-3 pr-0">
               <input class="form-control" inputmode="decimal" pattern="[0-9]*" type="text" aria-label="Ending Sugar Level" placeholder="Sugar End" asp-for="Target.EndingSugar" maxlength="5">
               <span asp-validation-for="Target.EndingSugar" class="text-danger"></span>
            </div>
            <div class="col-sm-3 pl-0">
               <select class="custom-select" aria-label="Unit of Measure for Batch" asp-for="Target.EndSugarUOM" asp-items="Model.Target.SugarUOMs"></select>
               <span asp-validation-for="Target.EndSugarUOM" class="text-danger"></span>
            </div>
            <div class="col-sm-3">
               <input class="form-control" inputmode="decimal" pattern="[0-9]*" type="text" aria-label="Starting Total Acid" placeholder="Total Acid" asp-for="Target.TA" maxlength="4">
               <span asp-validation-for="Target.TA" class="text-danger"></span>
            </div>
            <div class="col-sm-3">
               <input class="form-control" inputmode="decimal" pattern="[0-9]*" type="text" aria-label="Starting pH" placeholder="pH" asp-for="Target.pH" maxlength="4">
               <span asp-validation-for="Target.pH" class="text-danger"></span>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-12">
               <label class="col-form-label" asp-for="Ingredients"><strong>Ingredients:</strong></label>
               <textarea class="form-control" rows="5" asp-for="Ingredients" 
                         placeholder="Leave Blank for Default&#10;&#10;Ingredients for 6 US Gallons: (example)&#10;1/2 tsp KMeta&#10;1/2 lb Sugar"></textarea>
               <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-12">
               <label class="col-form-label" asp-for="Instructions"><strong>Instructions:</strong></label>
               <textarea class="form-control" rows="5" asp-for="Instructions" 
                         placeholder="Leave Blank for Default&#10;&#10;Instructions: (example)&#10;Step No 1 - Primary Fermentation&#10;In a Food Grade plastic fermenter..."></textarea>
               <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
         </div>

         <br />

         <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3">
               <button class="btn btn-primary" type="reset">Cancel</button>
               <button class="btn btn-primary" type="submit">Submit</button>
            </div>
         </div>


      </form>


      @if (Model.Images != null)
      {
         <br />
         <div class="card-columns">
            @foreach (var img in Model.Images)
            {
               <div class="card">
                  <img class="card-img-top" src="/Image/ViewImage/@img.Id" alt="">
                  <div class="card-img-overlay">
                     <button class="btn btn-sm btn-primary" name="deleteRecipeImageButton" data-id="@img.Id">DELETE</button>
                  </div>
               </div>
            }
         </div>
      }

   </div>


   @*<div class="card-footer"></div>*@

</div>


<div class="card" id="pictures">
   <div class="card-header">
      <i>Upload Recipe Pictures (Max 4, optional):<br />Allowed Image Extensions: .jpg | .gif | .bmp | .jpeg | .png ONLY<br />Max File Size per Image: 500 KB</i>
   </div>
   <div class="card-body">

      <form id="frmAddRecipeImage" asp-controller="Admin" asp-action="AddRecipeImage" method="POST" enctype="multipart/form-data">
         <div class="row">
            <label class="d-none"><input hidden name="recipeId" value="@Model.Id" />Hidden Label</label>
            <div class="col-sm-10">
               <label class="custom-file-label text-truncate" for="image">Choose file to upload</label>
               <input class="custom-file-input" type="file" name="image" id="image" accept="image/*">
            </div>
            <div class="col-sm-2">
               <button class="btn btn-primary" name="addRecipeImageButton">Add</button>
            </div>
            <span asp-validation-for="Images" class="text-danger"></span>
         </div>
      </form>

   </div>
</div>

<form id="frmDeleteRecipeImage" asp-controller="Admin" asp-action="DeleteRecipeImage" method="POST" enctype="multipart/form-data">
   <label class="d-none"><input hidden name="imageId" id="deleteRecipeImageId" />Hidden Label</label>
   <label class="d-none"><input hidden name="recipeId" value="@Model.Id" />Hidden Label</label>
</form>


@section Scripts{
   <environment include="Development">
      <script src="~/js/admin.js" asp-append-version="true" type="text/javascript"></script>
   </environment>
   <environment exclude="Development">
      <script src="~/js/admin.min.js" asp-append-version="true" type="text/javascript"></script>
   </environment>
}
